@page
@{
}
<div class="gallery">
<div class="container my-3 my-sm-5 text-white">
    <h1 class="mb-sm-4 text-center">Gallery</h1>
    <p class="lead text-center">
            At our company, we believe that a comfortable and inspiring workspace is essential for our productivity and creativity. 
            That's why we have designed our gallery page to showcase some of the best examples of how we have transformed our work environment with our innovative solutions. 
            Whether it's a cozy home office, a collaborative co-working space, or a sleek corporate office, we have something for everyone. Browse our gallery and get inspired by our workspaces!

    </p>
    
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4">
            <figure class="figure">
                <a href="">
                        <img src="https://web-resources-95-2019.s3.amazonaws.com/workspace1.jpeg"
                         class="figure-img img-fluid img-thumbnail"
                         alt="Figure image" />
                </a>
                <figcaption class="figure-caption text-center text-white">
                        <h6>Workspace on the third floor</h6>
                    
                </figcaption>
            </figure>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <figure class="figure">
                <a href="">
                        <img src="https://web-resources-95-2019.s3.amazonaws.com/conference-room.jpeg"
                         class="figure-img img-fluid img-thumbnail"
                         alt="Figure image" />
                </a>
                <figcaption class="figure-caption text-center text-white">
                    <h6>Conference room</h6>
                    
                </figcaption>
            </figure>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <figure class="figure">
                <a href="">
                        <img src="https://web-resources-95-2019.s3.amazonaws.com/kitchen.jpeg"
                         class="figure-img img-fluid img-thumbnail"
                         alt="Figure image" />
                </a>
                <figcaption class="figure-caption text-center text-white">
                    <h6>Kitchen</h6>
                  
                </figcaption>
            </figure>
        </div>
      
       
        
    </div>
   
</div>
</div>
