@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <h1 class="display-4 mt-5 text-white text-center" id="hero-div"><b>Welcome to our website!</b></h1>
    <p class="text-white" id="hero-div">
    We are an organisation that strives to provide the best solutions for your needs. 
    Whether you are looking for a product, a service, or a partnership, we have something for you.
    Our team of experts is ready to assist you with any inquiry or challenge you may have. 
    Browse our site to learn more about us, our offerings, and our achievements. 
    We hope you enjoy your visit and find what you are looking for. 
    Thank you for choosing us!
    </p>

