@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Ova web aplikacija napravljena je u cilju ispunjena obaveza
    za predmet Računarstvo u oblaku i nije namenjena za dalju distribuciju.
</p>
